{% extends 'default.html' %}

{% load custom_filters %}

{% block title %}
<p>&nbsp;</p>
<h3><span style="color: #ff0000;"><strong>ПОИСК НОВОСТЕЙ(СТАТЕЙ):</strong></span>
<p>&nbsp;</p></h3>
{% endblock title %}

{% block content %}
<!-- Перед таблицей добавим форму для поиска -->
<form class="pure-form" method="GET">
  <fieldset>

    {{ filter.form }}
    <!-- Форму от фильтров за нас сделает django. А вот кнопку, увы придётся делать самому -->
  </fieldset>

  <button class="pure-button button-secondary">
    Найти
  </button>
</form>
<!--  loop -->
<p>
  {{filter.category_type}}
</p>
<p>
  {{filter.qs.category_type }}
</p>
{% if filter == null %}
<h3>
  no posts
</h3>
{%else%}
<h3 class="content-subhead">
  Найдено новостей(статей):
  <span>{{ filter.qs|length }}</span>
</h3>
{% for n in filter.qs %}
<!--  A single blog post -->
<section class="post">
  <a href="./{{n.id}}">
      <h1class="post-title">{{n.title|censor}}</h1>
    </a>
    <p class="post-meta">Автор:
      <a class="post-author" href="#">
        {{ n.author }}
      </a>
      <p>Дата публикации:
      <i>{{ n.time_create|date:'d M Y H:i' }}</i></p>
      <a class="post-category post-category-{{n.categoryType}}" href="#">
        Категория: {{n.get_category_type_display }}
      </a>
    </p>
  </header>
  <div class="post-description">
    <p>{{ n.text|censor | truncatewords:25 }}</p>
    <p><em>Рейтинг: {{n.rating}} </em></p>
  </div>
</section>
<hr />
{%endfor%}
{%endif%}

{# Добавляем пагинацию на страницу #}

   {# Информация о предыдущих страницах #}
   {% if page_obj.has_previous %}
       <a href="?page=1">1</a>
       {% if page_obj.previous_page_number != 1 %}
           ...
           <a href="?page={{ page_obj.previous_page_number }}">{{ page_obj.previous_page_number }}</a>
       {% endif %}
   {% endif %}

   {# Информация о текущей странице #}
   {{ page_obj.number }}

   {# Информация о следующих страницах #}
   {% if page_obj.has_next %}
       <a href="?page={{ page_obj.next_page_number }}">{{ page_obj.next_page_number }}</a>
       {% if paginator.num_pages != page_obj.next_page_number %}
           ...
           <a href="?page={{ page_obj.paginator.num_pages }}">{{ page_obj.paginator.num_pages }}</a>
       {% endif %}
   {% endif %}
<p>&nbsp;</p></h3>

{% endblock content %}